@model BaseViewModel<IEnumerable<TeamMember>>
@{
  ViewBag.Title = "About";
}
<div class="section-career-banner about" id="bodyWrap">
  <img src="~/images/about_bg.jpg" alt="Photo of Mark Hall">
  <div class="banner-table">
    <div class="banner-cell">
      <div class="center">
        <div>
          <h1>
            <span class="banner-desc">Placing Concrete for Over</span>
            <span class="banner-title">30 Years</span>
          </h1>
        </div>
        <div class="banner-bottom-box">
          <div class="bottom-right">
            <p class="about-desc"><strong>Since 1983,</strong> we’ve provided premier commercial, industrial<br /> and residential concrete solutions across Kansas</p>
          </div>
          <div class="bottom-left">
            <span class="bottom-name"><strong>Mark Hall</strong>  </span>
            <p class="bottom-info">Project Manager&nbsp;&nbsp;&middot;&nbsp;&nbsp;Since 2006</p>
            <a href="#leadership">See the Leadership Team</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="center">
    <a href="#about" class="down-arrow">Our History and Culture</a>
  </div>
</div>

<div class="section-about" id="about">
  <div class="center">
    <div class="left-box">
      <div class="content">
        <h2 class="h4style">About Kolde Construction</h2>
        <p>Kolde Construction is a premier concrete contractor based in St. Marys Kansas. Since 1983, we’ve provided premier commercial, industrial and residential concrete solutions across the state. We’ve built our business through integrity and hard work — we deliver on time, we have an extraordinary safety record, and we always put our customers first.</p>
        <p class="h5style">We know concrete</p>
        <p>We’ve been placing concrete across Kansas since we poured our first foundation in 1983. A lot has changed in 30+ years but two things have stayed the same — our commitment to our customers and our dedication to excellence.</p>
        <p>From foundations and flatwork to sitework and pumping, we combine industry-leading expertise with decades of hands-on experience to deliver the best concrete solutions in the state. And we back up every project with a full warranty.</p>
        <p class="h5style">Our people set us apart</p>
        <p>Yes, we work with innovative equipment that lets us handle even the most complex projects — pump trucks that reach to extraordinary heights, laser screeds that produce perfect floors, and robotic Total Stations that ensure on-site precision. But it’s our people that set us apart. We hire the best craftsmen in the business, and invest in their development through extensive hands-on training and industry certifications from leading concrete associations.</p>
      </div>
    </div>
    <div class="right-box">
      <blockquote class="important-info">
        <p>We do more than place, pour and pump concrete — we provide concrete solutions for our clients, our team and our communities.</p>
        <span class="blockquote-box"><span class="author">Joe Kolde</span> president since 1983</span>
      </blockquote>
    </div>
  </div>
</div>

<div class="section-leadership" id="leadership">
  <div class="center">
    <h2 class="section-title">Our leadership</h2>
    <ul class="leadership-list">
      @foreach (var item in Model.Item.Where(x => x.Department == "Leadership").OrderBy(x => x.Order))
      {
        <li>
          <a class="leadership-box" href="mailto:@(item.Email)" title="Click to email @item.Firstname @(item.Lastname), @item.JobTitle">
            <img src="@item.Photo.GetUploadedImagePath(ImageSizes.NoCrop_410x410)" alt="@item.Fullname Photo">
            <span class="leadership-overlay">
              <span class="leadership-cell">
                <span class="leader-header-box">
                  <span class="name">@item.Firstname @item.Lastname</span>
                  <span class="info">@(item.JobTitle)&nbsp;&nbsp;&middot;&nbsp;&nbsp;Since @item.YearStarted</span>
                </span>
                <span class="btn">Email @item.Firstname</span>
              </span>
            </span>
          </a>
        </li>
      }
      <li class="separator">
        <span class="leadership-box">
          <span class="leadership-separator-box">
            <span class="leadership-cell">
              <span class="leader-header-box">
                <span class="name">Our<br /> Superintendents</span>
              </span>
            </span>
          </span>
        </span>
      </li>
      @foreach (var item in Model.Item.Where(x => x.Department == "Superintendent").OrderBy(x => x.Order))
      {
        <li>
          <a class="leadership-box" href="mailto:@(item.Email)" title="Click to email @item.Firstname @(item.Lastname), @item.JobTitle">
            <img src="@item.Photo.GetUploadedImagePath(ImageSizes.NoCrop_410x410)" alt="@item.Fullname Photo">
            <span class="leadership-overlay">
              <span class="leadership-cell">
                <span class="leader-header-box">
                  <span class="name">@item.Firstname @item.Lastname</span>
                  <span class="info">@(item.JobTitle)&nbsp;&nbsp;&middot;&nbsp;&nbsp;Since @item.YearStarted</span>
                </span>
                <span class="btn">Email @item.Firstname</span>
              </span>
            </span>
          </a>
        </li>
      }
    </ul>
  </div>
</div>

<div class="section-about bottom-s">
  <div class="center">
    <div class="content">
      <h5>FROM THE PRESIDENT</h5>
      <p class="big">My father, brother and I founded Kolde Construction in 1983 to provide something we saw missing in the construction business — a customer first approach.</p>
      <p><strong>From the start, we saw our projects as more than just foundations and houses.</strong> We understood we were building homes for families we knew personally. We saw the impact of our work on these families, and it inspired us to do our very best every day.</p>
      <p><strong>Our early successes drove us to take on more complex projects, always with our customers’ interests at heart.</strong> We poured parking lots and commercial floors. We built schools, malls and movie theaters. We pumped concrete for the spectacular Bill Snyder Family Football Stadium at K-State. Our industry took note and we received awards from the American Concrete institute.</p>
      <p>Through it all, we’ve been guided by our core values — integrity, trust and hard work. And we made three commitments that bring our values to life and impact every job:</p>
      <ul>
        <li><strong>Our people.</strong> We hire the best people working in the field today — and we’re committed to their development. We pay for special trainings and certifications so that they’re constantly learning and helping us excel.</li>
        <li><strong>Our equipment.</strong> We use the most innovative equipment to produce the most durable, lasting, beautiful concrete work in the state.</li>
        <li><strong>Our quality.</strong> Our dedication to excellence has led to a constant stream of referrals — a full XX% of new projects come from referrals. The trust we have with our clients means the world to us and we work hard for it every day.</li>
      </ul>
      <p>Today, we remain family owned and as committed to our customers, our team and our communities as we were when we poured that first foundation over 30 years ago. I’m proud to say that, without a doubt, we can handle any job that comes our way.</p>
    </div>
    <div class="signatures-box">
      <p>Wish best wishes,</p>
      <img src="~/images/signatures.jpg" alt="Joe Kolde signature">
      <span class="president-name">Joe Kolde</span><span class="president">President</span>
    </div>
  </div>
</div>

<div class="section-customers">
  <div class="center">
    <h2 class="section-title">Our customers</h2>
    <ul class="customers-list">
      <li>
        <div class="customers-box amc">
          <img src="~/images/customers/amc-logo.png" alt="AMC Theatres Logo">
        </div>
      </li>
      <li>
        <div class="customers-box bluemont">
            <img src="~/images/customers/bluemont-logo.png" alt="Bluemont Hotel Logo">
        </div>
      </li>
      <li>
        <div class="customers-box westar">
            <img src="~/images/customers/westar-logo.png" alt="Westar Energy Logo">
        </div>
      </li>
      <li>
        <div class="customers-box academy">
            <img src="~/images/customers/academy-logo.png" alt="Academy Sports Logo">
        </div>
      </li>
      <li>
        <div class="customers-box kstate">
            <img src="~/images/customers/kstate-logo.png" alt="Kansas State University Logo">
        </div>
      </li>
      <li>
        <div class="customers-box gtm">
            <img src="~/images/customers/gtm-logo.png" alt="GTM Sportswear Logo">
        </div>
      </li>
      <li>
        <div class="customers-box resers">
            <img src="~/images/customers/resers-logo.png" alt="Reser's Fine Foods Logo">
        </div>
      </li>
      <li>
        <div class="customers-box petsmart">
            <img src="~/images/customers/petsmart-logo.png" alt="Pet Smart Logo">
        </div>
      </li>
        <li>
            <div class="customers-box">
                <img src="~/images/customers/ihop-logo.png" alt="IHOP Logo">
            </div>
        </li>
        <li>
            <div class="customers-box hays">
                <img src="~/images/customers/hays-logo.png" alt="Fort Hays State University Logo">
            </div>
        </li>
        <li>
            <div class="customers-box cat">
                <img src="~/images/customers/cat-logo.png" alt="Cat Work Tools Logo">
            </div>
        </li>
        <li>
            <div class="customers-box texas">
                <img src="~/images/customers/texas-roadhouse-logo.png" alt="Texas Roadhouse Logo">
            </div>
        </li>
        <li>
            <div class="customers-box tallgrass">
                <img src="~/images/customers/tallgrass-logo.png" alt="Tallgrass Brewing Company Logo">
            </div>
        </li>
        <li>
            <div class="customers-box coxbros">
                <img src="~/images/customers/coxbros-logo.png" alt="Cox Brothers Barbecue Logo">
            </div>
        </li>
    </ul>
  </div>
</div>